In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
data = pd.read_csv(r"D:\Data Set\India Full DS.csv")

In [3]:
data.head()

,Date,Location,MinTemp,MaxTemp,WindDirection,RainToday,RainTomorrow,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,01-01-2022,Andhra Pradesh,16.9,22.9,SW,No,No,NaN,NaN,NaN
1,02-01-2022,Andhra Pradesh,13.9,24.1,SE,No,No,NaN,NaN,NaN
2,03-01-2022,Andhra Pradesh,13.8,29.1,SW,No,No,NaN,NaN,NaN
3,04-01-2022,Andhra Pradesh,15.1,33.3,W,No,No,NaN,NaN,NaN
4,05-01-2022,Andhra Pradesh,14.6,30.5,SW,No,No,NaN,NaN,NaN

In [4]:
data.shape

(20440, 10)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20440 entries, 0 to 20439
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           20440 non-null  object
 1   Location       20440 non-null  object
 2   MinTemp        20411 non-null  float64
 3   MaxTemp        20402 non-null  float64
 4   WindDirection  19514 non-null  object
 5   RainToday      20111 non-null  object
 6   RainTomorrow   20111 non-null  object
 7   Unnamed: 7     0 non-null      float64
 8   Unnamed: 8     0 non-null      float64
 9   Unnamed: 9     0 non-null      float64
dtypes: float64(5), object(5)
memory usage: 1.6+ MB

In [6]:
data.isnull().sum()

Date                 0
Location             0
MinTemp             29
MaxTemp             38
WindDirection      926
RainToday          329
RainTomorrow       329
Unnamed: 7       20440
Unnamed: 8       20440
Unnamed: 9       20440
dtype: int64

In [7]:
data.drop(["Date"],axis=1,inplace=True)
data.drop(["Unnamed: 7"],axis=1,inplace=True)
data.drop(["Unnamed: 8"],axis=1,inplace=True)
data.drop(["Unnamed: 9"],axis=1,inplace=True)

In [8]:
data.head()

         Location  MinTemp  MaxTemp WindDirection RainToday RainTomorrow
0  Andhra Pradesh     16.9     22.9            SW        No           No
1  Andhra Pradesh     13.9     24.1            SE        No           No
2  Andhra Pradesh     13.8     29.1            SW        No           No
3  Andhra Pradesh     15.1     33.3             W        No           No
4  Andhra Pradesh     14.6     30.5            SW        No           No

In [9]:
data['MinTemp'].fillna(data['MinTemp'].mode()[0], inplace=True)
data['MaxTemp'].fillna(data['MaxTemp'].mode()[0], inplace=True)
data['RainToday'].fillna(data['RainToday'].mode()[0], inplace=True)
data['RainTomorrow'].fillna(data['RainTomorrow'].mode()[0], inplace=True)
data['WindDirection'].fillna(data['WindDirection'].mode()[0], inplace=True)

In [10]:
data.isnull().sum()

Location         0
MinTemp          0
MaxTemp          0
WindDirection    0
RainToday        0
RainTomorrow     0
dtype: int64

In [11]:
x = data.iloc[:20440,:4]
y = data['RainTomorrow']

In [12]:
x

             Location  MinTemp  MaxTemp WindDirection
0      Andhra Pradesh     16.9     22.9            SW
1      Andhra Pradesh     13.9     24.1            SE
2      Andhra Pradesh     13.8     29.1            SW
3      Andhra Pradesh     15.1     33.3             W
4      Andhra Pradesh     14.6     30.5            SW
...               ...      ...      ...           ...
20435     West Bengal     25.1     42.1             E
20436     West Bengal     16.7     33.5             E
20437     West Bengal     17.6     33.5             E
20438     West Bengal     12.5     36.1           WSW
20439     West Bengal     18.2     37.4           ESE

[20440 rows x 4 columns]

In [13]:
y

0        No
1        No
2        No
3        No
4        No
         ..
20435    No
20436    No
20437    No
20438    No
20439    No
Name: RainTomorrow, Length: 20440, dtype: object

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['Location'] = le.fit_transform(x['Location'])
x['WindDirection'] = le.fit_transform(x['WindDirection'])
# x['RainToday'] = le.fit_transform(x['RainToday'])

In [17]:
x.head()

   Location  MinTemp  MaxTemp  WindDirection
0         0     16.9     22.9             13
1         0     13.9     24.1             10
2         0     13.8     29.1             13
3         0     15.1     33.3             14
4         0     14.6     30.5             13

In [18]:
data.isnull().any()

Location         False
MinTemp          False
MaxTemp          False
WindDirection    False
RainToday        False
RainTomorrow     False
dtype: bool

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [20]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

RandomForestClassifier()

In [21]:
pred_test_rf = rf.predict(x_test)

In [22]:
pred_test_rf

array(['No', 'No', 'No', ..., 'Yes', 'No', 'No'], dtype=object)

In [23]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(pred_test_rf,y_test)

0.7912589693411611

In [24]:
confusion_matrix(pred_test_rf,y_test)

array([[4340,  871],
       [ 409,  512]], dtype=int64)

In [25]:
classification_report(pred_test_rf,y_test)

'              precision    recall  f1-score   support\n\n          No       0.91      0.83      0.87      5211\n         Yes       0.37      0.56      0.44       921\n\n    accuracy                           0.79      6132\n   macro avg       0.64      0.69      0.66      6132\nweighted avg       0.83      0.79      0.81      6132\n'

In [26]:
import pickle
pickle.dump(rf,open("Rainfall.pkl","wb"))