In [12]:
import numpy as np
import pandas as pd
import sklearn

In [13]:
data = pd.read_csv(r"H:\IBM Project\Data Set\India Full DS.csv")

In [14]:
data.head()

,Date,Location,MinTemp,MaxTemp,WindDirection,RainToday,RainTomorrow,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,01-01-2022,Andhra Pradesh,16.9,22.9,SW,No,No,NaN,NaN,NaN
1,02-01-2022,Andhra Pradesh,13.9,24.1,SE,No,No,NaN,NaN,NaN
2,03-01-2022,Andhra Pradesh,13.8,29.1,SW,No,No,NaN,NaN,NaN
3,04-01-2022,Andhra Pradesh,15.1,33.3,W,No,No,NaN,NaN,NaN
4,05-01-2022,Andhra Pradesh,14.6,30.5,SW,No,No,NaN,NaN,NaN

In [15]:
data.shape

(20440, 10)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20440 entries, 0 to 20439
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           20440 non-null  object
 1   Location       20440 non-null  object
 2   MinTemp        20411 non-null  float64
 3   MaxTemp        20402 non-null  float64
 4   WindDirection  19514 non-null  object
 5   RainToday      20111 non-null  object
 6   RainTomorrow   20111 non-null  object
 7   Unnamed: 7     0 non-null      float64
 8   Unnamed: 8     0 non-null      float64
 9   Unnamed: 9     0 non-null      float64
dtypes: float64(5), object(5)
memory usage: 1.6+ MB

In [17]:
data.isnull().sum()

Date                 0
Location             0
MinTemp             29
MaxTemp             38
WindDirection      926
RainToday          329
RainTomorrow       329
Unnamed: 7       20440
Unnamed: 8       20440
Unnamed: 9       20440
dtype: int64

In [18]:
data.drop(["Date"],axis=1,inplace=True)
data.drop(["Unnamed: 7"],axis=1,inplace=True)
data.drop(["Unnamed: 8"],axis=1,inplace=True)
data.drop(["Unnamed: 9"],axis=1,inplace=True)

In [19]:
data.head()

         Location  MinTemp  MaxTemp WindDirection RainToday RainTomorrow
0  Andhra Pradesh     16.9     22.9            SW        No           No
1  Andhra Pradesh     13.9     24.1            SE        No           No
2  Andhra Pradesh     13.8     29.1            SW        No           No
3  Andhra Pradesh     15.1     33.3             W        No           No
4  Andhra Pradesh     14.6     30.5            SW        No           No

In [21]:
data['MinTemp'].fillna(data['MinTemp'].mode()[0], inplace=True)
data['MaxTemp'].fillna(data['MaxTemp'].mode()[0], inplace=True)
data['RainToday'].fillna(data['RainToday'].mode()[0], inplace=True)
data['RainTomorrow'].fillna(data['RainTomorrow'].mode()[0], inplace=True)
data['WindDirection'].fillna(data['WindDirection'].mode()[0], inplace=True)

In [22]:
data.isnull().sum()

Location         0
MinTemp          0
MaxTemp          0
WindDirection    0
RainToday        0
RainTomorrow     0
dtype: int64

In [28]:
x = data.iloc[:, :-1]
y = data['RainTomorrow']

In [29]:
x

             Location  MinTemp  MaxTemp WindDirection RainToday
0      Andhra Pradesh     16.9     22.9            SW        No
1      Andhra Pradesh     13.9     24.1            SE        No
2      Andhra Pradesh     13.8     29.1            SW        No
3      Andhra Pradesh     15.1     33.3             W        No
4      Andhra Pradesh     14.6     30.5            SW        No
...               ...      ...      ...           ...       ...
20435     West Bengal     25.1     42.1             E        No
20436     West Bengal     16.7     33.5             E        No
20437     West Bengal     17.6     33.5             E        No
20438     West Bengal     12.5     36.1           WSW        No
20439     West Bengal     18.2     37.4           ESE        No

[20440 rows x 5 columns]

In [30]:
y

0        No
1        No
2        No
3        No
4        No
         ..
20435    No
20436    No
20437    No
20438    No
20439    No
Name: RainTomorrow, Length: 20440, dtype: object

In [32]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['Location'] = le.fit_transform(x['Location'])
x['MinTemp'] = le.fit_transform(x['MinTemp'])
x['MaxTemp'] = le.fit_transform(x['MaxTemp'])
x['WindDirection'] = le.fit_transform(x['WindDirection'])
x['RainToday'] = le.fit_transform(x['RainToday'])

In [33]:
x.head()

   Location  MinTemp  MaxTemp  WindDirection  RainToday
0         0      234      247             13          0
1         0      204      259             10          0
2         0      203      309             13          0
3         0      216      351             14          0
4         0      211      323             13          0

In [34]:
data.isnull().any()

Location         False
MinTemp          False
MaxTemp          False
WindDirection    False
RainToday        False
RainTomorrow     False
dtype: bool

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [36]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

RandomForestClassifier()

In [37]:
pred_test_rf = rf.predict(x_test)

In [38]:
pred_test_rf

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [39]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(pred_test_rf,y_test)

0.7946836268754077

In [42]:
import pickle
pickle.dump(rf,open("Rainfall.pkl","wb"))